<div class="container">
    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <h3 class="m-0 p-0">Sistema de Orçamentos</h3>
        </a>
        
        <div class="col-md-3 text-end">
            <span class=" me-3 fw-bold">Perfil: {{username}}</span>
            <button type="button" class="btn btn-primary" (click)='logOutUser()' >Logout</button>
        </div>
    </header>
</div>